<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/style.css">
    <title>Node.JS ML</title>
</head>
<body>


    <div class="area">
        <h2 class="title">Sınıflandırma</h2>

        <p>Dosya</p>
        <form action="/classification" 
                    method="POST"
                    enctype="multipart/form-data">
            
            <label class="drop-container">
                <input type="file" name="dataset" required>
            </label>
            
            <p>Algoritma</p>
            
            <div class="algorithm">
                <p>K-NN</p>
            </div>
            
            <button type="submit" class="btn-learning">Öğret</button>
        </form>

        

    </div>


</body>

</html>